---
import { type CollectionEntry, getCollection, render } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import TagsList from "@components/TagsList.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const { title, description, language, pubDate, tags } = post.data;
const { Content } = await render(post);

const tagIds = [...new Set(tags?.map((tag) => tag.id) ?? [])].sort();
---

<BaseLayout title={title} description={description} language={language}>
  <header>
    <p>＜ <a href="/blog">Blog posts</a></p>
    <h1>{title}</h1>
    <p class="date">Published on: <FormattedDate date={pubDate} /></p>
    <p class="author">By <a href="/">Sylvain Lesage</a></p>
  </header>
  <TagsList ids={tagIds} />
  <Content />
</BaseLayout>
