---
import { type CollectionEntry, getCollection, render } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import { indexById } from "../../lib/utils";
import ObjectHeader from "../../components/ObjectHeader.astro";
import Tag from "../../components/Tag.astro";

// getStaticPaths creates a static page for each work
export async function getStaticPaths() {
  const works = await getCollection("works");
  return works.map((work) => ({
    params: { slug: work.id },
    props: work,
  }));
}

type Props = CollectionEntry<"works">;
const work = Astro.props;
const { Content } = await render(work);
const { title, description, references: referenceIds } = work.data;
const referencesLU = indexById(await getCollection("references"));
const references = referenceIds
  ? referenceIds.map(({ id }) => {
      const reference = referencesLU.get(id);
      if (!reference) {
        throw new Error(
          `Reference with id "${id}" not found for work "${work.id}"`,
        );
      }
      return reference;
    })
  : [];
const images = await getCollection(
  "images",
  (entry) => entry.data.work.id === work.id,
);
const tagIds = [
  ...new Set(
    images.flatMap((image) => image.data.tags ?? []).map((tag) => tag.id),
  ),
].sort();
---

<BaseLayout
  title={`${title} — Works — Sylvain Lesage`}
  description={description}
>
  <ObjectHeader
    title={title}
    backLink={{ href: "/works", label: "Works portfolio" }}
    type="Work"
  />
  {
    references.length > 0 && (
      <p class="references">
        This work was realized for{" "}
        {references.map((reference, index) => (
          <span>
            <a href={`/references/${reference.id}`}>{reference.data.name}</a>
            {index < references.length - 1 ? ", " : "."}
          </span>
        ))}
      </p>
    )
  }
  <div class="tags">
    {Array.from(tagIds).map((id) => <Tag collection="tags" id={id} />)}
    <Content />
  </div>

  <style>
    .references {
      font-style: italic;
    }

    .tags {
      margin-top: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  </style>
</BaseLayout>
