---
import WorksGallery from "../../components/WorksGallery.astro";
import { SITE_DESCRIPTION } from "../../consts";
import WideLayout from "../../layouts/WideLayout.astro";

const padding = 64;
const gap = 10;
const figureWidth = 300;
const maxColumns = 8;
---

<WideLayout
  title={"Works portfolio — Sylvain Lesage"}
  description={SITE_DESCRIPTION}
  padding={padding}
>
  <header>
    <p>＜ <a href="/">Home</a></p>
    <h1>Works portfolio</h1>
  </header>
  <p>
    An overview of my past projects and activities. ⚠️ Still work in progress.
    Part of my <a href="https://illisible.net/sylvain-lesage?lang=en"
      >portfolio</a
    > is also published on <a href="https://illisible.net">illisible.net</a>.
  </p>

  <p><a href="/#contact">Contact me</a> for more information.</p>
  <WorksGallery
    padding={padding}
    gap={gap}
    figureWidth={figureWidth}
    maxColumns={maxColumns}
  />
</WideLayout>
