---
import { getEntry } from "astro:content";
interface Props {
  collection: "references" | "tags";
  id: string;
  fontSize?: string;
}

const { collection, id, fontSize } = Astro.props;
const entry = await getEntry(collection, id);
if (!entry) {
  throw new Error(`Entry with id ${id} not found in collection ${collection}`);
}
---

<a href={`/${collection}/${id}`} class="tag">
  {entry.data.name}
</a>

<style
  type="text/css"
  define:vars={{
    fontSize: fontSize ?? "0.7em",
  }}
>
  a.tag {
    text-decoration: none;
    border: 1px solid var(--light-color);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: var(--fontSize);
    color: var(--fade-color);

    &:hover {
      color: var(--color-1);
      border-color: var(--color-1);
    }
    text-wrap: nowrap;
  }
</style>
